[is=expanding-list], [is=expanding-list] ul {
  list-style-type: none;
}

[is=expanding-list] li::before {
  display:inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  content:"";
}

[is=expanding-list] .open::before, [is=expanding-list] .closed::before {
  background-size: 1rem 1rem;
  position: relative;
  top: 0.25rem;
  opacity: 0.3;
}

[is=expanding-list] .open::before {
  background-image: url(img/down.png);
}

[is=expanding-list] .closed::before {
  background-image: url(img/right.png);
}

[is=expanding-list] .closed .closed::before, [is=expanding-list] .closed .open::before {
  display: none;
}
